{% extends "base.html" %}
{% load static %}

{% block content %}

    <body id="bg-img" class="responsive-img">
        <div class="row">
            <div class="col s12 m6">
              <div class="card deep-orange accent-1">
                <div class="card-content white-text">
                  <span class="card-title">Welcome!</span>
                  <p>Hey there, fellow pun enthusiast! Get ready to embark on a rib-tickling journey into the realm of dad jokes – where the punchlines are cheesy, the laughter is contagious, and the groans are inevitable.</p>
                </div>
                <div class="card-action">
                  <a class="white-text" href="{% url 'the_jokes_page' %}">To the jokes!</a>
                </div>
              </div>
            </div>
          </div>
          
    </body>



<!-- index.html content ends here -->
{% endblock %}