{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Creating New joke -->
    <div>
        <div>
          {% if user.is_authenticated %}
          <h3>add joke:</h3>
          <p>Posting as: {{ user.username }}</p>
          <form method="post" enctype="multipart/form-data">
            {{ joke_form }}
            {% csrf_token %}
            <button type="submit" onclick="M.toast({html: 'Joke submitted and awaiting approval'})" class="btn"></a>Submit</button>
          </form>
          {% else %}
          <p>Log in to add a joke </p>
          {% endif %}
          
        </div>
      </div>
{% endblock %}
{% block script %}
<script src="{% static 'js/jokes.js' %}"></script>
{% endblock %}