{% extends "base.html" %}
{% load static %}

{% block content %}

{% for joke in joke_list %}
        <h2>{{joke.id}}</h2>
        <p>{{joke.joke_text | safe}}</p>
        <p><span>{{joke.creator_image}}</span></span>Author: {{joke.creator}}</p>
        <p>Made: {{joke.created_on}}</p>
{% endfor %}

{% for comment in comments %}
               
    <div>
        <p>
        {{ comment.creator }}
        <span>
        {{ comment.created_on }}
        </span> wrote:
        </p>
        <p>
        {{ comment.comment_text | safe }}
        {{ comment.joke_text }}
        </p>
                    
    </div>
                <!-- Our for loop ends here -->
               
{% endfor %}
{% endblock %}