{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

            

<h4># {{joke.title}}</h4>
<p>{{joke.joke_text | safe}}</p>
{% if "placeholder" in joke.creator_image.url %}
    <img src="{% static 'images/placeholder.jpg' %}" class="circle creator_image responsive-img" alt="placeholder">
    {% else %}
    <img src="{{ joke.creator_image.url }}" class="circle creator_image responsive-img">
{% endif %}
</span>Author: {{joke.creator}}</p>
<p>Made: {{joke.created_on}}</p>
            
<!-- Displaying likes -->
{% if user.is_authenticated %}
  <form method="post" action="{% url 'like_jokes' joke.title joke.id %}">
    {% csrf_token %}
    {% if liked%}
      <button id="LikeButton" name="joke_id" value="{{ joke.id }}" type="submit"><i class="fa-solid fa-heart  red darken-2"></i></button> <p>{{ likes_count }} Likes</p>
    {% else %}  
      <button id="LikeButton" name="joke_id" value="{{ joke.id }}" type="submit"><i class="fa-solid fa-heart"></i></button><p>{{ likes_count }} Likes</p>
    {% endif %}
  </form>
{% else %}
  <i class="fa-solid fa-heart"></i>{{ likes_count }} Likes
               
{% endif %}


  <!-- Displaying Comments and count of comments-->
<ul class="collapsible">
  <li>
    <div class="collapsible-header"><i class="far fa-comments"></i>{{ comment_count }} Comments</div>
    <div class="collapsible-body"><span>
      {% for comment in comments %}
            <strong>{{ comment.creator }}</strong>:
            <div id="comment{{ comment.id }}">
              {{ comment.comment_text | safe }}
            </div>
            <p class="small-text">test {{ comment.created_on }}</p> 

            {% if not comment.approved and comment.creator == user %}
              <p class="approval">
                  This comment is awaiting approval
              </p>
            {% endif %}
            {% if user.is_authenticated and comment.creator == user %}
              <button class="btn btn-edit" comment_id="{{ comment.id }}">Edit</button>
              <button data-target="modal1" class="btn modal-trigger btn-delete" comment_id="{{ comment.id }}">Delete</button>
            {% endif %}
        {% endfor %}
      </span></div>
      </li>
    </ul>

    
            
            <!-- Our for loop ends here -->
            
    <!-- Creating New Comments -->
    <div>
        <div>
          {% if user.is_authenticated %}
          <h3>Leave a comment:</h3>
          <p>Posting as: {{ user.username }}</p>
          <form id="commentForm" method="post">
            {{ comment_form }}
            {% csrf_token %}
            <button id="submitButton" type="submit"></a>Submit</button>
          </form>
          {% else %}
          <p>Log in to leave a comment</p>
          {% endif %}

          
        </div>
      </div>
</div>
<!-- Delete confirmation modal -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Delete comment?</h4>
    <p>Are you sure you want to delete your comment?
      This action cannot be undone.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"data-bs-dismiss="modal">Close</button>
    <a id="deleteConfirm" href="#" class="btn btn-danger modal-close waves-effect waves-green btn-flat">Delete</a>
    
  </div>
</div>


{% endblock %}
{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}