{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<body id="bg-img-pages" class="responsive-img">
  <!-- add jokes button -->
  <div class="row">
    <div class="col s2 m7 l6 offset-l3">
      <a class="btn tooltipped deep-orange accent-1" data-position="right" data-tooltip="Add your own joke!" href="{% url 'add_jokes' %}">+</a>  
    </div>
  </div>

  <div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card">
        
        <h4># {{joke.title}}</h4>
        <p>{{joke.joke_text | safe}}</p>
        {% if "placeholder" in joke.creator_image.url %}
        <img src="{% static 'images/placeholder.jpg' %}" class="circle creator_image responsive-img" alt="placeholder">
        {% else %}
        <img src="{{ joke.creator_image.url }}" class="circle creator_image responsive-img">
        {% endif %}
        </span>Author: {{joke.creator}}</p>
        <p class="small-text">Category: {{ joke.category | safe }} | Made: {{joke.formatted_timestamp}}</p>
        {% if joke.age_approved %}
                <span class="badge age_green">Age Approved</span>
            {% else %}
                <span class="badge age_red">Not Age Approved</span>
            {% endif %}

        

        <!-- Displaying likes -->

        {% if user.is_authenticated %}
        <form method="post" action="{% url 'like_jokes' joke.title joke.id %}">
          {% csrf_token %}
          <button id="LikeButton" name="joke_id" value="{{ joke.id }}" type="submit" class="heart-button">
            {% if liked %}
            <i class="fa-solid fa-heart like"></i>
            {% else %}
            <i class="fa-regular fa-heart"></i>
            {% endif %}
          </button>
          <span>{{ likes_count }} Likes</span>
        </form>
        {% else %}
        <i class="far fa-heart"></i> {{ likes_count }} Likes
        {% endif %}
        <hr>
        <!-- Displaying Comments and count of comments-->

        {% if user.is_authenticated %}
        <h6><i class="fa-solid fa-pen"></i> Leave a comment:</h6>
        <p class="small-text">Posting as: {{ user.username }}</p>
        <form id="commentForm" method="post">
          {{ comment_form }}
          {% csrf_token %}
          <button id="submitButton" type="submit" class="btn-small deep-orange accent-1"></a>Submit</button>
        </form>

        {% else %}
        <p>Log in to leave a comment</p>
        {% endif %}

        <ul class="collapsible">
          <li>
            <div class="collapsible-header"><i class="far fa-comments"></i>{{ comment_count }} Comments</div>
            <div class="collapsible-body">
              <span>
                {% for comment in comments %}
                {% if comment.approved %}
                <strong>{{ comment.creator }}</strong>:
                <div id="comment{{ comment.id }}">{{ comment.comment_text | safe }}</div>
                <p class="small-text">{{ comment.created_on }}</p>
                {% if not comment.approved and comment.creator == user %}
                <p class="approval">This comment is awaiting approval</p>
                {% endif %}
                {% if user.is_authenticated and comment.creator == user %}
                <button class="btn btn-edit btn-small orange lighten-1" comment_id="{{ comment.id }}">Edit</button>
                <button data-target="modal1" class="btn-small deep-orange modal-trigger btn-delete"
                  comment_id="{{ comment.id }}">Delete</button>
                {% endif %}
                {% endif %}
                <hr>
                {% endfor %}
              </span>
      </div>
      </li>
      <li>

      </li>
      </ul>
    </div>
  </div>
  </div>

  <!-- Delete confirmation modal -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Delete comment?</h4>
      <p>Are you sure you want to delete your comment?
        This action cannot be undone.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn orange lighten-1 modal-close">Close</button>
      <a id="deleteConfirm" href="#" class="btn btn-danger modal-close waves-effect waves-green btn-flat">Delete</a>
    </div>
  </div>
</body>



{% endblock %}
{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}