{% extends "base.html" %}
{% load static %}

{% block content %}

    <body>
        
        {% for joke in joke_list %}
            <h2># {{joke.title}}</h2>
            <p>{{joke.joke_text | safe}}</p>
            <p><span>{{joke.creator_image}}</span></span>Author: {{joke.creator}}</p>
            <p>Made: {{joke.created_on}}</p>
            
        
            <a href="{% url 'jokes_detail' joke.title %}">View Details </a>
            {% if user.is_authenticated and joke.creator == user %}
            <a href="{% url 'joke_edit' joke.id %}">Edit </a>
            {% endif %}
            
        {% endfor %}
            
        


        <!-- next button -->
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    
    <a href="{% url 'add_jokes' %}">Add jokes </a>
        
    </body>
    
<!-- jokes.html content ends here -->
{% endblock %}
