{% extends "base.html" %}
{% load static %}

{% block content %}

<body id="bg-img-pages" class="responsive-img">
    <!-- add jokes button -->
    <div class="row">
        <div class="col s2 m7">
        <a class="btn tooltipped deep-orange accent-1" data-position="right" data-tooltip="Add your own joke!" href="{% url 'add_jokes' %}">+</a>   
        </div>
    </div>
    <div class="row">
        <div class="col s12 m7">
            <div class="card">

                <!-- Dropdown Trigger -->
                <a class='dropdown-trigger btn deep-orange accent-1' href='#' data-target='dropdown1'>Categories!</a>

                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="{% url 'the_jokes_page' %}">All</a></li>
                    <li class="divider" tabindex="-1"></li>
                    <li><a href="{% url 'category' 'classics' %}">Classics</a></li>
                    <li class="divider" tabindex="-1"></li>
                    <li><a href="{% url 'category' 'knock_knock' %}">Knock-Knock</a></li>
                </ul>

                {% for joke in joke_list %}
                    <h4># {{joke.title}}</h4>
                    <p>{{joke.joke_text | safe}}</p>

                    {% if "placeholder" in joke.creator_image.url %}
                        <img src="{% static 'images/placeholder.jpg' %}" class="circle creator_image responsive-img" alt="placeholder">
                    {% else %}
                        <img src="{{ joke.creator_image.url }}" class="circle creator_image responsive-img">
                    {% endif %}
                    </span>Author: {{joke.creator}}</p>
                    <p class="small-text">Category: {{ joke.category | safe }} | Made: {{joke.created_on}}</p>

                    <span><a class="btn tooltipped deep-orange accent-1" data-position="top" data-tooltip="View comments!" href="{% url 'jokes_detail' joke.title %}"><i class="far fa-comments"></i></a></span>
                    <span><a class="btn tooltipped deep-orange accent-1 right" data-position="top" data-tooltip="Edit joke!" href="{% url 'joke_edit' joke.title %}"><i class="fa-solid fa-pen"></i></a></span>

                    
                  
                {% endfor %}
                

        <!-- next button -->

                {% if is_paginated %}
                <ul class="pagination center-align">
                    {% if page_obj.has_previous %}
                    <li class="disabled"><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                    {% endif %}
                    {% endif %}
                  </ul>
            </div>
        </div>
    </div>
</body>
    
<!-- jokes.html content ends here -->
{% endblock %}
{% block script %}
<script src="{% static 'js/jokes.js' %}"></script>
{% endblock %}