{% extends "base.html" %}
{% load static %}
{% block content %}

    <body>
        {% for joke in object_list %}
        <h2>{{joke.id}}</h2>
        <p>{{joke.joke_text}}</p>
        <p><span>{{joke.creator_image}}</span></span>Author: {{joke.creator}}</p>
        <p>Made: {{joke.created_on}}</p>
        {% endfor %}

          <!-- Displaying count of comments -->
        <div class="row">
            <div class="col-12">
                <strong class="text-secondary">
                    <i class="far fa-comments"></i> {{ comment_count }}
                </strong>
            </div>
            <div class="col-12">
            <hr>
            </div>
        </div>
        <!-- Displaying Comments -->
        <div class="row">
            <div>
                <h3>Comments:</h3>
                <div class="card-body">
                    {% for comment in comments %}
                    <div class="comments
                    {% if not comment.approved and comment.creator == user %}
                    faded{% elif not comment.approved %} .hide {% endif %}">
                        <p>
                            {{ comment.creator }}
                            <span>
                            {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        <div id="comments"> {{ comment.comment_text | safe }}</div>
                        {% if not comment.approved and comment.creator == user %}
                            <p>This comment is awaiting approval</p>
                        {% endif %}
                        {% if user.is_authenticated and comment.author == user %}
                            <button class="btn btn-delete" data-comment_id="{{ comment.id }}">Delete</button>
                            <button class="btn btn-edit" data-comment_id="{{ comment.id }}">Edit</button>
                        {% endif %}
                    </div>
                    <!-- Our for loop ends here -->
                    {% endfor %}
                </div>
            </div>
        </div>


        <!-- next button -->
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

        
    </body>
<!-- jokes.html content ends here -->
{% endblock %}