
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}

main {
    flex: 1 0 auto;
    
}

#bg-img {
    background: url(../images/hat-591973_1920.jpg) no-repeat center/cover;
    height: 100vh;
}

.social-media {
    display: flex;
    align-items: center;
    margin: 10px;
}

#hide {
    display: none;
}

img.creator_image {
    height: 10vh;
    width: 10vw;
}

#small-text {
    font-size: x-small;
    color: blueviolet;
}