/* google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&family=Work+Sans:wght@400;500;600&display=swap');

/* Hides object */
#hide {
    display: none;
}

/* Style for the body */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'popins', sans-serif;
}

main {
    flex: 1 0 auto;
    padding: 10px;
}

/* Style for the navegationbar */
.nav-wrapper {
    padding-left: 10px;
}

/* Backgrund img on index.html */
#bg-img {
    background: url(../images/hat-591973_1920.jpg) no-repeat center/cover;
    height: 100vh;
}

/* Background img on all other pages */
#bg-img-pages {
    background: url(../images/wood-2045380_1920.jpg) center/cover;
    height: 100vh;
}

/* Styling for objects in Footer */
.social-media {
    display: flex;
    justify-content: center;
    margin: 10px;
    list-style: none;
}

.social-media li {
    padding-left: 10px;
    padding-right: 10px;
}

/* Generall card on all pages */
.card {
    padding: 20px;
}

/* creator image */
.creator_image {
    width: 10vw;
}

/* Comment waiting on. approval */
.approval {
    color: rgb(207, 30, 101);
}

/* Like button */
.heart-button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    color: inherit;
}

.fa-heart.like {
    font-size: x-large;
    color: rgb(199, 28, 28);
}

.fa-heart {
    font-size: x-large;

}

/* Django messages */
.alert {
    display: none;
}

.page-link {
    color: white;
}

/* joke box */
.joke_box {
    padding: 10px;
}

.form_buttons {
    padding-top: 10px;
}

/* The button at the bottom of the jokebox (comments, edit, rate) */
.jokes_interact_btn {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

/* Makes text small (used on datestamp) */
.small-text {
    font-size: x-small;
    color: rgb(94, 93, 96);
}

/* rate the jokes */
.rate_box {
    display: flex;
    flex-wrap: wrap;
}

.rate_look {
    background-color: #FEECE2;

}

.avg-rate {
    background-color: #FEECE2;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
}

.info-circle {
    position: relative;
    display: inline-block;
}

.info-icon {
    cursor: pointer;
    padding-left: 3px;
}

.info-content {
    position: absolute;
    top: -50px;
    left: 20px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.info-circle:hover .info-content {
    display: block;
}

/* to add space when edit button not displayed */
.edit-space {
    width: 25vw;
}

/* age approved */
.age_green {
    background: rgb(73, 155, 120);
}

.age_red {
    background: rgb(198, 141, 141);
}

/* age box/switch */
.age_box {
    background-color: #FEECE2;
    padding: 5px;
    height: 5vh;
}

.age_box .switch label input[type="checkbox"]:checked+.lever {
    background-color: #ff9e80;
}

.age_box .switch label input[type=checkbox]:checked+.lever:after {
    background-color: #ff9e80;
}

/* label box */
.label_box {
    background-color: #FEECE2;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.label-btn {
    margin-top: 5px;
}

.custom-radio[type="radio"]:checked+span:after,
.custom-radio[type="radio"].with-gap:checked+span:after {
    background-color: #ff9e80;
    border: #ff9e80;
}

/* category box */
.category_box {
    background-color: #FEECE2;
    padding: 5px;
    height: 5vh;
}

/* category page, spece between joke and filter */
.head_category {
    margin-bottom: 10px;
}

/* Styles for laptop-size */
@media screen and (min-width: 1200px) {

    /* creator image */
    .creator_image {
        width: 5vw;
    }

    /* Rate box */
    .rate_box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}