
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}

main {
    flex: 1 0 auto;
    padding: 10px;
    
}
/* Backgrund img on index.html */
#bg-img {
    background: url(../images/hat-591973_1920.jpg) no-repeat center/cover;
    height: 100vh;
}

/* Background img on all other pages */
#bg-img-pages {
    background: url(../images/wood-2045380_1920.jpg) no-repeat center/cover;
    height: 100vh;
}


.social-media {
    display: flex;
    justify-content: center;
    margin: 10px;
    list-style: none;
}

.social-media li {
    padding-left: 10px;
    padding-right: 10px;
}

#hide {
    display: none;
}
/* Generall card on all pages */
.card {
    padding: 10px;
}

/* creator image */
.creator_image {
    height: 10px;
    width: 10vw;
}

/* Makes text small (used on datestamp) */
.small-text {
    font-size: x-small;
    color: rgb(94, 93, 96);
}

/* Comment waiting on. approval */
.approval {
    color: rgb(207, 30, 101);
}

/* Like button */
.heart-button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    color: inherit;
}

.fa-heart.like {
    font-size: x-large;
    color: rgb(199, 28, 28);
}
.fa-heart {
    font-size: x-large;
    
}

/* Django messages */
.message {
    color: white;

}