{% load static %}
{% url 'home' as home_url %}
{% url 'the_jokes_page' as the_jokes_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html>
<head>
    <title>DadJokes</title>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection">

    

</head>

<body>
    <!-- navbar desktop -->
    <nav>
        <div class="nav-wrapper deep-orange accent-1">
            <a href="{% url 'home' %}" class="brand-logo">DADJOKES</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'the_jokes_page' %}">Jokes</a></li>
                <li><a href="#">About</a></li>
    <!-- Login logout register-->
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                        href="{% url 'account_signup' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- displaying Django messages -->
<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible
          fade show" id="msg" role="alert">
          {{ message | safe }}
          <button type="button" class="btn-close"
            data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

<!-- navbar mobile -->
    <ul class="sidenav deep-orange accent-1" id="mobile-demo">
        <li class="brand-logo">DADJOKES</li>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'the_jokes_page' %}">Jokes</a></li>
        <li><a href="#">About</a></li>
    <!-- Login logout register-->
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                href="{% url 'account_signup' %}">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
        </li>
        {% endif %}

    </ul>

    <main>
        <!-- inlog/logout confirmation -->
        {% if user.is_authenticated %}
        <p class="right-align">You are logged in as {{ user }}</p>
        {% else %}
        <p class="right-align">You are not logged in</p>
        {% endif %}

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

        
    <footer class="page-footer deep-orange accent-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <p class="grey-text text-lighten-4">A website made for Code Institute by Linda Persson.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <ul id="social-media">
                        <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/" target="_blank" aria-label="Visit Dadjokes on Instagram (opens in new tab)"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.youtube.com/" aria-label="Visit Dadjokes on youtube (opens in new tab)"><i class="fa-brands fa-square-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!--Materialize JS-->
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <!--Custom JS-->
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <!--Fontawesome JS-->
    <script src="https://kit.fontawesome.com/b6bd3cd609.js" crossorigin="anonymous"></script>

    {% block extras %}
    {% endblock %}    
    {% block script %}
    {% endblock %}
</body>
</html>